html, body{
  height: 100%;
}

body{
  background-color: black;
  margin: 0;
  font-family: "Calibri";
}

h1{
  color: white;
  font-weight: normal;
  text-align: center;
  background: steelblue;
  margin: 0;
  text-transform: uppercase;
  line-height: 1.1;
  padding: 20px 0;
}

#container{
  width: 40%;
  min-height: 100%;
  margin: 0 auto;
}

.square{
  margin: 0 auto;
  width: 150px;
  height: 150px;
  background: purple;
  float: left;
  margin: 1.66%;
  border-radius: 15%;
  transition: background 0.6s;
}

#message{
  display: inline-block;
  width: 20%;
}

#stripe{
  background: white;
  height: 30px;
  text-align: center;
  color: black;
}

.selected{
  background-color: steelblue;
  color: white;
}

button{
  border: none;
  background: none;
  text-transform: uppercase;
  height: 100%;
  font-weight: 700;
  color: steelblue;
  letter-spacing: 1px;
  transition: all 0.3s;
}

button:hover{
  color:white;
  background: steelblue;
}
